@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .card {
    @apply bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow;
  }
  .btn {
    @apply px-4 py-2 rounded-md font-medium;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-blue-600;
  }
}
